body{
    color: black;
    background-color: grey;
}

.topSection {
    text-align: center;
}


.topImg {
    justify-content: right;
    opacity: 
}

.middleSection {
    display: flex;
    align-items: center;
    justify-content: center;
}
